body {
  background-color: black;
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

.Tab {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
}

.Word {
  color: white;
  cursor: default;
  display: grid;
  place-content: center;
  justify-content: center;
  justify-items: center;
}

.Gallows {
  height: 260px;
}

.letter {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.letter-neutral {
  border: 3px solid white;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}

.letter-score {
  border: 3px solid green;
  border-radius: 15px;
  color: green;
  background-color: #091e0c;
  transition: 0.35s;
}

.letter-miss {
  border: 3px solid red;
  border-radius: 15px;
  color: red;
  background-color: #270101;
  transition: 0.35s;
}

.letter-neutral:hover {
  background-color: #222222;
  color: white;
  border: 3px solid white;
}


.Result {
  width: 350px;
  height: 280px;
  color: white;
  display: grid;
  place-content: center;
  justify-content: center;
  justify-items: center;
}

.Categories {
  color: white;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr 1.85fr;
  justify-items: center;
  cursor: pointer;
}

.btn-reset {
  cursor: pointer;
}

.win {
  color: green;
  cursor: default;
}

.loose {
  color: red;
  cursor: default;
}

.container {
  display: flex;
  flex-grow: 1;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  display: grid;
  place-content: center;
  padding: 15px;
  border-radius: 15px;
  border: 3px solid white;
  justify-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #111111;
  color: white;
}

.btn-set {
  background-color: #222222;
  color: white;
  border: 3px solid white;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
}

.btn-close {
  border: 3px solid red;
  border-radius: 15px;
  color: red;
  background-color: #270101;
  cursor: pointer;
  margin: 5px;
}

.input {
  color: white;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 12px;
  margin: 5px;
  font-size: 20px;
}
