body {
  background-color: black;
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

.Tab {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
}

.Word {
  color: white;
}

.LetterNeutral {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid white;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}

.LetterNeutral:hover {
  background-color: #222222;
  color: white;
  border: 3px solid white;
}

.LetterScore {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid green;
  border-radius: 15px;
  color: green;
  background-color: #091e0c;
}

.LetterMiss {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid red;
  border-radius: 15px;
  color: red;
  background-color: #270101;
}

.Result {
  width: 350px;
  height: 280px;
  color: white;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  flex-grow: 1;
}
